@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?o3abzp');
	src:url('../fonts/icomoon.eot?#iefixo3abzp') format('embedded-opentype'),
		url('../fonts/icomoon.woff?o3abzp') format('woff'),
		url('../fonts/icomoon.ttf?o3abzp') format('truetype'),
		url('../fonts/icomoon.svg?o3abzp#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-mailielem-icon:before {
	content: "\31";
}
.icon-linkedin-hover:before {
	content: "\32";
}
.icon-mexipass-icon:before {
	content: "\33";
}
.icon-studymode-icon:before {
	content: "\34";
}
.icon-superb-icon:before {
	content: "\35";
}
.icon-graduation-cap-icon:before {
	content: "\36";
}


img.desaturate {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
	filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}

body > .container > h3 {
	margin: 10px 0px 2px 0px;
	text-align: center;

}

h1, h2, h3, h4, h5 {
	text-transform: uppercase;
}

header {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
}

header span.contact {
	margin: 0px 0px 0px 0px;
	min-width: 200px;
	position: relative;
}

header span.contact h4 {
	font-size: 14px;
}

header span.contact div.linked-in {
	left: -70px;
	top: 2px;
	position: absolute;
	opacity: 0.8;
}

header span.contact div.linked-in img.hover {
	display: none;
}

header span.contact div.linked-in:hover img.hover {
	display: inline-block;
}


header span.contact div.linked-in:hover img.default {
	display: none;
}

header span.contact div.linked-in a {
	
}

header span.contact div.linked-in img {
	max-width: 48px;
	max-height: 48px;
}


header h1,
header h2,
header h3,
header h4,
header h5 {
	margin: 0px;
}


header h4.email {
	text-transform: none;
}


header .glyphicon {
	margin: 0px 8px 0px 0px;
}

header > span {

}

footer {
	margin: 0px;
}

.badge {
	border-radius: 2px;
	border: 1px solid #DDD;
	color: #444444;
	background: #d9edf7;
}

.panel {
	margin-bottom: 4px;
}

.panel-body {
	padding: 4px 10px;
	font-size: 12px;
}


#experience-timeline {
	margin: 0px 0px 10px 20px;
	border-left: 1px solid #DDDDDD;
}

#experience-timeline .company {
	padding: 0px;
	margin: 0px;
	position: relative;
}

#experience-timeline .company .content {
	padding: 0px 0px 10px 20px;
	width: 100%;
	display: inline-block;
}
#experience-timeline .company .content h4.title {
	margin: 2px 0px 8px 0px;		
	padding: 0px 0px 0px 40px;	
	position: relative;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

#experience-timeline .company .content h4.title .company-logo {
	margin: 0px 0px 0px 10px;
}

#experience-timeline .company .content h4.title .position {
	text-transform: none;
	font-size: smaller;
}
#experience-timeline .company .content h4.title [class^="icon-"], 
#experience-timeline .company .content h4.title [class*=" icon-"] {
	margin: 0px 0px 0px 8px;
	font-size: 32px;	
}


#experience-timeline .company .content ul.projects {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#experience-timeline .company .content ul.projects li {
	margin: 0px;
	padding: 0px;
	position: relative;
}

#experience-timeline .company .content ul.projects li:before {
	z-index: 2;
	content: " ";
	height: 10px;
	width: 10px;
	left: -26px;
	top: 50%;
	margin-top: -5px;

	position: absolute;
	display: inline-block;

	background: #d9edf7;

	border-radius: 5px;
	border: 1px solid #DDDDDD;
}

#experience-timeline .company .content ul.projects li:after {
	z-index: 1;
	content: " ";
	height: 1px;
	width: 20px;
	left: -20px;
	top: 50%;
	margin-top: 0px;

	position: absolute;
	display: inline-block;

	background: #DDDDDD;
}

#experience-timeline .company .content ul.projects .panel-body label {
	margin: 0px;
}

#experience-timeline .company .badge {
	left: -21px;
	position: absolute;
}

#experience-timeline .company .badge.end {
	top: 0px;
}
#experience-timeline .company .badge.start {
	z-index: 1;
	bottom: -28px;
}

#experience-timeline .company .badge.timeline {
	top: 8px;
	left: -41px;
}

#experience-timeline #studymode.company .badge.end {
	top: 2px;
}
#experience-timeline #studymode.company .badge.start {
	bottom: -34px;
}
#experience-timeline #studymode.company .badge.timeline {
	left: -34px;
	top: -6px;
}

#experience-timeline #superb.company .badge.start {
	bottom: -20px;
}

#experience-timeline #education .content {
	padding: 0px 0px 0px 20px;
	float: left;
}

#experience-timeline #education .content .title {
	padding: 0px 0px 0px 20px;
	margin: 0px;
	text-transform: none;
	font-size: 14px;
}
#experience-timeline #education .content .title .icon-graduation-cap-icon {
	font-size: 20px;
	vertical-align: middle;
}

#experience-timeline #education .content .title img {
	max-height: 20px;
	max-width: 20px;
}




#skill-graph {
	margin: 0 0 0 80px;
  width: 90%;
	position: relative;
}

#skill-graph ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#skill-graph ul li {
	margin: 0px;
	padding: 0px;
}

#skill-graph .legend {
	right: 0px;
	top: -26px;
	position: absolute;
	
	
}

#skill-graph .legend li {
	margin: 4px 0px;
	width: 120px;
	line-height: 18px;
	font-size: 13px;
}
#skill-graph .legend li .img-circle {
	margin: 0px 8px 0px 0px;
	height: 20px;
	width: 20px;
	display: inline-block;

	border: 1px solid #BBBBBB;
}


#skill-graph .legend li .img-circle.bg-primary {
       border: 1px solid #357ebd;
}
#skill-graph .legend li .img-circle.bg-success {
       border: 1px solid #d6e9c6;
}
#skill-graph .legend li .img-circle.bg-info {
       border: 1px solid #bce8f1;
}
#skill-graph .legend li .img-circle.bg-warning {
       border: 1px solid #faebcc;
}
#skill-graph .legend li .img-circle.bg-danger {
       border: 1px solid #ebccd1;
}


#skill-graph ul.vertical-labels {
	z-index: -1;
	min-width: 100%;
	height: 100%;
	left: 0px;
	top: -0px;
	position: absolute;
}

#skill-graph ul.vertical-labels li {
	padding: 0px 0px 0px 0px;
	height: 30px;
	width: 100%;
	position: relative;
	text-align: left;
}

#skill-graph ul.vertical-labels li:after {
	content: " ";
	margin-top: 0px;
	width: 100%;
	height: 1px;
	left: 0px;
	top: -1px;
	position: absolute;
	display: inline-block;
	
	border-bottom: 1px dashed #DDD;
}

#skill-graph ul.vertical-labels li span.text {
	width: 120px;
	left: -130px;
	top: -9px;
  position: absolute;
  display: inline-block;
  text-align: right;
  line-height: 1;
}

#skill-graph ul.vertical-labels li span.text.advanced-beginner {
	top: -16px;
}

#skill-graph .horizontal-labels {
  padding: 0 170px 0 0px;
  display: flex;
	align-items: flex-end;
  justify-content: space-around;

}


#skill-graph ul.skills {
	z-index: 1;
	padding: 0 170px 0 20px;
	height: 180px;
	width: 100%;

	display: flex;
	align-items: flex-end;

	border-left: 1px solid #000;
	border-bottom: 1px solid #000;
}

#skill-graph ul.skills li {
	margin: 0px 4px 0px 4px;
	width: 40px;

	display: flex;
	flex-direction: column-reverse;

	overflow: hidden;

	border-left: 1px solid #DDD;
	border-right: 1px solid #DDD;
	border-top: 1px solid #DDD;	
}

#skill-graph ul.skills li.bg-primary {
	border-color: #357ebd;
}
#skill-graph ul.skills li.bg-info {
	border-color: #bce8f1;
}
#skill-graph ul.skills li.bg-danger {
	border-color: #ebccd1;
}
#skill-graph ul.skills li.bg-success {
	border-color: #d6e9c6;
}
#skill-graph ul.skills li.bg-warning {
	border-color: #faebcc;
}


#skill-graph ul.skills li.level-0 {
	height: 0px;
}
#skill-graph ul.skills li.level-1 {
	height: 30px;
}
#skill-graph ul.skills li.level-2 {
	height: 60px;
}
#skill-graph ul.skills li.level-3 {
	height: 90px;
}
#skill-graph ul.skills li.level-almost-4 {
	height: 105px;
}
#skill-graph ul.skills li.level-4 {
	height: 120px;
}
#skill-graph ul.skills li.level-almost-5 {
	height: 135px;
}
#skill-graph ul.skills li.level-5 {
	height: 150px;
}

#skill-graph ul.skills li label {
	margin: 0px 0px 13px 0px;

	font-size: 12px;

	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
}


@media (max-width: 767px) {
	.hidden-visibility-xs {
	    visibility: hidden !important;
	}

	#experience-timeline .company .badge.end {
		top: 0px;
	}
	#experience-timeline .company .badge.start {
		bottom: -26px;
	}

	#experience-timeline #studymode.company .badge.end {
		top: 0px;
	}
	#experience-timeline #studymode.company .badge.start {
		bottom: -34px;
	}

	#experience-timeline .company .content h4.title .text {
		width: 100%;
	}

	#skill-graph {
		width: 80%;
	}

}

@media print {
  * {
    /*color: #000 !important;*/
    /*text-shadow: none !important;*/
    /*background: transparent !important;*/
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }

	body > .container {
		width: 8.5in;
	}


  header div.linked-in {
		display: none;
	}

	#skill-graph ul.skills li.hidden-xs {
		display: flex !important;
	}

	#skill-graph .legend {
		display: inline-block !important;
	}

	#skill-graph {
		width: 90%;
	}
	#experience-timeline .company .content h4.title {
		margin: 0 0 4px !important;	
	}

	#experience-timeline .company .content h4.title .text {
		width: auto;
	}

	#experience-timeline .company .content h4.title .company-logo {
		
		visibility: hidden;

	}


}