<!DOCTYPE html>
<html>

<head>
	<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">-->
	<link rel="stylesheet" href="css/main.css">
</head>


<body>
	<section class="container">
		<header>
			<span>
				<h1 id="myName" class="name">
					<span class="text">Name</span>
				</h1>
				<h5 id="myPosition" class="position">
					<span class="glyphicon glyphicon-briefcase visible-xs-inline-block"></span>
					<span class="text">Position</span>
				</h5>
			</span>
			<span class="contact">
				<h4 id="myHome" class="home">
					<span class="glyphicon glyphicon-home"></span>
					<span class="text">Location</span>
				</h4>
				<h4 id="myPhone" class="mobile">
					<span class="glyphicon glyphicon-earphone"></span>
					<span class="text">Phone</span>
				</h4>
				<h4 id="myEmail" class="email">
					<span class="glyphicon glyphicon-envelope"></span>
					<a href="#">
						<span class="text">email</span>
					</a>
				</h4>
				<div id="myLinkedin" class="linked-in hidden-xs">
					<a href="#" target="_blank">
						<img src="images/linkedin.svg" class="default">
						<img src="images/linkedin-hover.svg" class="hover">
					</a>
				</div>

			</span>
		</header>
			<h3 class="employment-education">Employment History / Education</h3>
			<section id="experience-timeline">

			</section>
			<h3>Technical Skills</h3>
			<section id="skill-graph">
				<ul class="vertical-labels">
					<li><span class="text master">Master</span></li>
					<li><span class="text expert">Expert</span></li>
					<li><span class="text proficient">Proficient</span></li>
					<li><span class="text competent">Competent</span></li>
					<li><span class="text advanced-beginner">Advanced-Beginner</span></li>
					<li><span class="text novice">Novice</span></li>
				</ul>
				<ul class="skills">
				</ul>
				<div class="legend panel panel-default hidden-xxs">
					<div class="panel-body">
						<ul>
							<li><span class="img-circle bg-primary">&nbsp;</span>Language</li>
							<li class="hidden-xs"><span class="img-circle bg-info">&nbsp;</span>Framework</li>
							<li><span class="img-circle bg-danger">&nbsp;</span>Design</li>
							<li><span class="img-circle bg-success">&nbsp;</span>Database</li>
							<li class="hidden-xxs"><span class="img-circle bg-warning">&nbsp;</span>Version Control</li>
						</ul>
					</div>
				</div>
				<div class="horizontal-labels">
					<span>Front-End</span><span>Back-End</span>
				</div>
			</section>


	</section>


	
	<!-- Experience Template -->
	<script id="experienceTemplate" type="text/html">
		<div id="<%= obj.name ? obj.name : '' %>" class="company">

<% 
if ( ! obj.timeline && obj.end ) { 
%>
			<span class="end badge"><%= obj.endMonth ? obj.endMonth + '<br>' : '' %> <%= obj.end ? obj.end : '' %></span> 
<% 
} 
else if ( obj.timeline ) {
%>
	<span class="timeline badge"><%= obj.timeline ? obj.timeline : '' %></span> 
<%
}
%> 
			<div class="content <%= obj.classes ? obj.classes: '' %>">
				<h4 class="title">
<%
if (obj.companyUrl) {
%>
					<a href="<%= obj.companyUrl ? obj.companyUrl : '#' %>" class="text"><%= obj.title ? obj.title : '' %></a>
<%
}
else {
%>
					<span class="text"><%= obj.title ? obj.title : '' %></span>
<%					
}
if (obj.position) {
%>
					&nbsp;-&nbsp;<span class="position"><%= obj.position ? obj.position : '' %></span>
<%
}

if (obj.logo) {
%>
					<img class="company-logo desaturate hidden-xs" height="32" src="<%= obj.logo ? obj.logo : '' %>">
<%
}
%>
					
				</h4>
				<ul class="projects">
<% 
if (obj.projects) { 
	_.each(obj.projects, function(desc, title) { 
%>
					<li>
						<div class="panel panel-default">
						  <div class="panel-body">
						  	<label class=""><%= title %></label> 
								- 
								<%= desc %>
						  </div>
						</div>
					</li>
<% 
	}); 
} 
%> 
				</ul>
			</div>
<% 
if (obj.start) { 
%>
			<span class="start badge"><%= obj.startMonth ? obj.startMonth + '<br>'  : '' %> <%= obj.start ? obj.start : '' %></span>
<% 
} 
%> 
		</div>
	</script>
	
	<!-- Skill Template -->
	<script type="text/html" id="skillTemplate">
		<li class="<%= obj.classes ? obj.classes : ''%>  <%= obj.spacer ? 'spacer' : '' %>">
			<label><%= name %></label>
		</li>
	</script>


	<!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
	<script src="js/resume.js"></script>
	


</body>


</html>