@mixin grayscale( $toggle: "on", $percentage: 1 ) {
  $svg-type: "matrix";
  $svg-value: "0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0";
  $ie-alpha: alpha(#{"opacity="}round( $percentage * 100 ) );

  @if $percentage != 1 {
    $svg-type: "saturate";
    $svg-value: $percentage;
  }

  @if $toggle == "on" {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'#{$svg-type}\' values=\'#{$svg-value}\'/></filter></svg>#grayscale"); // Firefox 10+, Firefox on Android
    filter: gray $ie-alpha; // IE6-9
    -webkit-filter: grayscale( round( $percentage * 100% ) ); // Chrome 19+, Safari 6+, Safari 6+ iOS
    filter: grayscale( round( $percentage * 100% ) ); // Catch-all
  }

  @if $toggle == "off" {
    @if $svg-type == "saturate" {
      filter: none;
    } @else {
      filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    }
    -webkit-filter: grayscale(0%);
    filter: grayscale(0);
  }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

// generic transform
@mixin transform($transforms) {
     -moz-transform: $transforms;
       -o-transform: $transforms;
      -ms-transform: $transforms;
  -webkit-transform: $transforms;
          transform: $transforms;
}
// rotate
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}
 
// scale
@mixin scale($scale) {
   @include transform(scale($scale));
} 
// translate
@mixin translate ($x, $y) {
   @include transform(translate($x, $y));
}
// skew
@mixin skew ($x, $y) {
   @include transform(skew(#{$x}deg, #{$y}deg));
}
//transform origin
@mixin transform-origin ($origin) {
    moz-transform-origin: $origin;
       -o-transform-origin: $origin;
      -ms-transform-origin: $origin;
  -webkit-transform-origin: $origin;
          transform-origin: $origin;
}



img.desaturate {
  @include grayscale();
}

body > .container > h3 {
  margin: 10px 0px 2px 0px;
  text-align: center;

}

h1, h2, h3, h4, h5 {
  text-transform: uppercase;
}

header {
  @include flexbox();
  @include flex-wrap(wrap);
  @include justify-content(space-between);
  @include align-items(flex-start);
  
}

header span.contact {
  margin: 0px 0px 0px 0px;
  min-width: 200px;
  position: relative;
}

header span.contact h4 {
  font-size: 14px;
}

header span.contact div.linked-in {
  left: -70px;
  top: 2px;
  position: absolute;
  opacity: 0.8;
}

header span.contact div.linked-in img.hover {
  display: none;
}

header span.contact div.linked-in:hover img.hover {
  display: inline-block;
}


header span.contact div.linked-in:hover img.default {
  display: none;
}

header span.contact div.linked-in a {
  
}

header span.contact div.linked-in img {
  max-width: 48px;
  max-height: 48px;
}


header h1,
header h2,
header h3,
header h4,
header h5 {
  margin: 0px;
}


header h4.email {
  text-transform: none;
}


header .glyphicon {
  margin: 0px 8px 0px 0px;
}

header > span {

}

footer {
  margin: 0px;
}

.badge {
  @include border-radius(2px);
  border: 1px solid #DDD;
  color: #444444;
  background: #d9edf7;
}

.panel {
  margin-bottom: 4px;
}

.panel-body {
  padding: 4px 10px;
  font-size: 12px;
}


#experience-timeline {
  margin: 0px 0px 10px 20px;
  border-left: 1px solid #DDDDDD;

  .company {
    padding: 0px;
    margin: 0px;
    position: relative;

    .content {
      padding: 0px 0px 10px 20px;
      width: 100%;
      display: inline-block;

      h4.title {
        margin: 2px 0px 8px 0px;    
        padding: 0px 0px 0px 40px;  
        @include flexbox();
        @include align-items(center);
        @include flex-wrap(wrap);
        position: relative;
        
        .company-logo {
          margin: 0px 0px 0px 10px;
        }

        .position {
          text-transform: none;
          font-size: smaller;
        }
      }

      
      
      ul.projects {
        margin: 0px;
        padding: 0px;
        list-style: none;

        li {
          margin: 0px;
          padding: 0px;
          position: relative;

          &:before {
            z-index: 2;
            content: " ";
            height: 10px;
            width: 10px;
            left: -26px;
            top: 50%;
            margin-top: -5px;

            position: absolute;
            display: inline-block;

            background: #d9edf7;

            @include border-radius(5px);
            border: 1px solid #DDDDDD;
          }

          &:after {
            z-index: 1;
            content: " ";
            height: 1px;
            width: 20px;
            left: -20px;
            top: 50%;
            margin-top: 0px;

            position: absolute;
            display: inline-block;

            background: #DDDDDD;
          }
        }

        .panel-body label {
          margin: 0px;
        }
      }      
    }
    
    .badge {
      left: -21px;
      position: absolute;

      &.end {
        top: 0px;
      }
      &.start {
        z-index: 1;
        bottom: -28px;
      }
      &.timeline {
        top: 8px;
        left: -41px;
      }
    }
  }
  #studymode.company {
    .badge {
      &.end {
        top: 2px;
      }
      &.start {
        bottom: -34px;
      }
      &.timeline {
        left: -34px;
        top: -6px;
      }
    }
  }

  #superb.company .badge.start {
    bottom: -20px;
  }

  #education .content {
    padding: 0px 0px 0px 20px;
    float: left;
  }

  #education .content .title {
    padding: 0px 0px 0px 20px;
    margin: 0px;
    text-transform: none;
    font-size: 14px;
  }
  #education .content .title .icon-graduation-cap-icon {
    font-size: 20px;
    vertical-align: middle;
  }

  #education .content .title img {
    max-height: 20px;
    max-width: 20px;
  }
}


#skill-graph {
  margin: 0 0 0 80px;
  width: 90%;
  position: relative;

  ul {
    margin: 0px;
    padding: 0px;
    list-style: none;

    li {
      margin: 0px;
      padding: 0px;
    }
  }

  .legend {
    right: 0px;
    top: -26px;
    position: absolute;
    
    li {
      margin: 4px 0px;
      width: 120px;
      line-height: 18px;
      font-size: 13px;

      .img-circle {
        margin: 0px 8px 0px 0px;
        height: 20px;
        width: 20px;
        display: inline-block;

        border: 1px solid #BBBBBB;

        &.bg-primary {
          border: 1px solid #357ebd;
        }
        &.bg-success {
          border: 1px solid #d6e9c6;
        }
        &.bg-info {
          border: 1px solid #bce8f1;
        }
        &.bg-warning {
          border: 1px solid #faebcc;
        }
        &.bg-danger {
          border: 1px solid #ebccd1;
        }
      }
    }
  }

  ul.vertical-labels {
    z-index: -1;
    min-width: 100%;
    height: 100%;
    left: 0px;
    top: -0px;
    position: absolute;

    li {
      padding: 0px 0px 0px 0px;
      height: 30px;
      width: 100%;
      position: relative;
      text-align: left;

      &:last-child {
        border-bottom: 1px solid #000;
      }

      &:after {
        content: " ";
        margin-top: 0px;
        width: 100%;
        height: 1px;
        left: 0px;
        top: -1px;
        position: absolute;
        display: inline-block;
        
        border-bottom: 1px dashed #DDD;
      }

      span.text {
        width: 120px;
        left: -130px;
        top: -9px;
        position: absolute;
        display: inline-block;
        text-align: right;
        line-height: 1;

        &.advanced-beginner {
          top: -16px;
        }
      }
    }
  }

  .horizontal-labels {
    padding: 0 170px 0 0px;
    @include flexbox();
    @include align-items(flex-end);
    @include justify-content(space-around);
  }

  ul.skills {
    z-index: 1;
    padding: 0 170px 0 20px;
    height: 180px;
    width: 100%;

    @include flexbox();
    @include align-items(flex-end);

    border-left: 1px solid #000;

    li {
      margin: 0px 4px 1px 4px;
      width: 40px;

      @include flexbox();
      @include flex-direction(column-reverse);

      overflow: hidden;

      border-left: 1px solid #DDD;
      border-right: 1px solid #DDD;
      border-top: 1px solid #DDD;  

      &.bg-primary {
        border-color: #357ebd;
      }
      &.bg-info {
        border-color: #bce8f1;
      }
      &.bg-danger {
        border-color: #ebccd1;
      }
      &.bg-success {
        border-color: #d6e9c6;
      }
      &.bg-warning {
        border-color: #faebcc;
      }


      &.level-0 {
        height: 0px;
      }
      &.level-1 {
        height: 30px;
      }
      &.level-2 {
        height: 60px;
      }
      &.level-3 {
        height: 90px;
      }
      &.level-almost-4 {
        height: 105px;
      }
      &.level-4 {
        height: 120px;
      }
      &.level-almost-5 {
        height: 135px;
      }
      &.level-5 {
        height: 150px;
      }

      label {
        margin: 0px 0px 13px 0px;

        font-size: 12px;

        @include rotate(-90);
      }
    }
  }
}



@media (max-width: 639px) {
  .hidden-xxs {
    display: none !important;
  }

  #skill-graph {
    margin: 10px 0px 0px 80px;

    ul.skills {
      padding: 0px 20px;
    }

    .horizontal-labels {
      padding: 0 20px 0 0;
    }
  }

  
}

@media (max-width: $screen-xs-max) {
  .hidden-visibility-xs {
    visibility: hidden !important;
  }
  #experience-timeline {
    .company {
      .badge {
        &.end {
          top: 0px;
        }
        &.start {
          bottom: -26px;
        }
      }

      .content h4.title .text {
        width: 100%;
      }

      &#studymode .badge {
        &.end {
          top: 0px;
        }
        &.start {
          bottom: -34px;
        }
      }
    }
  }

  #skill-graph {
    width: 80%;
  }

}

@media print {
  * {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }

  body > .container {
    width: 8.5in;
  }


  header div.linked-in {
    display: none;
  }

  #skill-graph {
    padding: 0 170px 0 20px !important;
    width: 90%;

    ul.skills li {
      .hidden-xs {
        display: flex !important;
      }
      .hidden-xxs {
        display: flex !important;
      }
    }

    .legend {
      display: inline-block !important;
    }

    .legend li.hidden-xxs {
      display: block !important;
    }
  }

  #experience-timeline {
    .company {
      .content {
        h4.title {
          margin: 0 0 4px !important;  

          .text {
            width: auto;
          }

          .company-logo {
            display: inline-block !important;
            visibility: hidden !important;

          }
        }
      }
    }

  }

}

.no-flexbox {
  header {
    display: block;

    span.contact {
      div.linked-in {
        left: auto;
        top: auto;
        display: inline-block;
        position: relative;

        float: right;
        opacity: 0.8;
      }
    }
  }

  #experience-timeline .company .content h4.title {
    display: block;
  }

  #skill-graph {

    .horizontal-labels {
      display: block;

      span {
        width: 50%;
        display: inline-block;
        text-align: center;
      }

      @media (min-width: $screen-md-min) {
        padding: 0 50% 0 0;
      } 
    }

    ul.skills {
      padding: 44px 170px 0 20px;
      display: inline-block;
      overflow: hidden;
      
      li {
        width: 20px;
        position: relative;
        display: inline-block;
        
        label {
          margin: 0px;
          left: 0px;
          bottom: 8px;
          position: absolute;
        }
      }

      @media (max-width: $screen-sm-max) {
        padding: 44px 0px 0 20px;
      }      
    }
  }
}